#chat .chat-options .chat-option-buttons span {
    border: 1px solid black;
    color: black;
}

#chat .chat-options .chat-option-buttons span.active:hover,
#chat .chat-options .chat-option-buttons span.active i,
#chat .chat-options .chat-option-buttons span.active
{
    color:#0d0dd3!important;
}


#chat .chat_tools span.icon-people i.room-guest-counter,
#chat .chat_tools span.icon-people i
{
    color: rgb(18, 127, 174);
}

#main_avatar_room .avatar_tools input,
 {
    border-bottom: 1px solid rgb(18, 127, 174);
}

#chat .chat_tools {
    border-bottom: 1px solid black;
}

#main-room .right_section{
    background: rgba(255,255,255,.7);
}

#chat .chat_tools span:after,
#chat .chat-options .chat-option-buttons span:hover,
#chat .chat-options .chat-option-buttons span.active  
{
    border: 1px solid rgb(18, 127, 174);
}

.icon-chat:before, 
.icon-people:before,
.icon-chatsettings:before,
#chat .chat_tools span, 
#main-room.display-users-rooms #chat .display-chat, 
#main-room.display-users-rooms #chat .display-chat-settings,
#main-room.display-users-rooms #chat .display-chat, #main-room.display-users-rooms #chat .display-chat-settings,
#chat .chat-container .chat-messages .chat-main li.chat-system-grabbed, 
#chat .chat-container .chat-messages .chat-main li.chat-system-joined, 
#chat .chat-container .chat-messages .chat-main li.chat-system-left, 
#chat .chat-container .chat-messages .chat-main li.chat-system-loading, 
#chat .chat-container .chat-messages .chat-main li.chat-welcome-message, 
#chat .chat-container .chat-messages .chat-main li.system, 
#chat .chat-container .chat-messages .chat-main li.system-error,
#mods-controllers .mods-controllers-main-wrapper .mod-controllers-headers a,
#room-info-display .room-info-display-wrapper .description a.autolink,
#room-info-display .room-info-display-wrapper .description span.username-handle,
#chat .chat-container .chat-messages .chat-main li.currentDJ .username:before,
#chat .chat-options .chat-option-buttons span:hover,
#chat .chat-options .chat-option-buttons span.active 
{
    color: rgb(18, 127, 174);
}

#chat .chat-container .chat-messages .chat-main li .activity-row .text p,
#chat .pusher-chat-widget-input #chat-height-calculator, #chat .pusher-chat-widget-input #chat-txt-message 
 {
    color: black;
}

#main_avatar_room #main-user-list-room #avatar-list li.currentDJ .dubs:before{
       color:darkorange
}


.icon-heart:before{
  color:none;
}
