section#main-section section#main-room.dubtrack-section {
    margin-top:0;
}

@media screen and (min-width: 72em) {
    #main-room{
        max-width:100%;
        padding-top:3.6rem;
        padding-bottom:3.5rem;
        padding-left:0;
        padding-right:0;
    }

    #main-room .right_section{
        width:450px!important;
        border-radius:0;
        float:right!important;
        height:100%;
    }

    #main-room #chat .chat-container .chat-messages{
        height:inherit;

    }

    #main-room #chat .chat-container,#chat{
        height:100%;
    }
}
video.video-stream{
    width : 40%;

}

.chat-container{
    margin-right:0;
}

section.left_section{
    margin-right:0;
    padding-left:0   
}

#main-room .left_section .main-player-wrapper{
    display: initial;
}

#main-room .left_section{
    margin-top:3.6rem;
    width: 80%;
}

