#chat .chat-container .chat-messages .chat-main li .activity-row .username,
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.admin .user-role,
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.admin .user-role-icon,
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.admin .username, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.co-owner .user-role, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.co-owner .user-role-icon, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.co-owner .username, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.creator .user-role, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.creator .user-role-icon, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.creator .username, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.dj .user-role, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.dj .user-role-icon, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.dj .username, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.manager .user-role, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.manager .user-role-icon, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.manager .username, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.mod .user-role, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.mod .user-role-icon, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.mod .username, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.resident-dj .user-role, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.resident-dj .user-role-icon, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.resident-dj .username, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.verified .user-role, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.verified .user-role-icon, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.verified .username, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.vip .user-role, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.vip .user-role-icon, 
#main_avatar_room .role-colors-disabled #main-user-list-room #avatar-list li.vip .username {
    color: black;
}

#chat .chat-container .chat-messages .chat-main li.creator .user-role,
#chat .chat-container .chat-messages .chat-main li.creator .username,
#main_avatar_room #main-user-list-room #avatar-list li.creator .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.creator .username
{
    color: #da0339;
}

#chat .chat-container .chat-messages .chat-main li.co-owner .user-role,
#chat .chat-container .chat-messages .chat-main li.co-owner .username,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner .username
{
    color: #11afb3;
}

#chat .chat-container .chat-messages .chat-main li.manager .user-role,
#chat .chat-container .chat-messages .chat-main li.manager .username,
#main_avatar_room #main-user-list-room #avatar-list li.manager .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.manager .username
{
    color: #3083FF;
}

#chat .chat-container .chat-messages .chat-main li.mod .user-role,
#chat .chat-container .chat-messages .chat-main li.mod .username,
#main_avatar_room #main-user-list-room #avatar-list li.mod .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.mod .username
{
    color: #24b00e;
}

#chat .chat-container .chat-messages .chat-main li.vip .user-role,
#chat .chat-container .chat-messages .chat-main li.vip .username,
#main_avatar_room #main-user-list-room #avatar-list li.vip .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.vip .username
{
    color: #7f1383;
}

#chat .chat-container .chat-messages .chat-main li.resident-dj .user-role,
#chat .chat-container .chat-messages .chat-main li.resident-dj .username,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj .username
{
    color: #33CCFF;
}

#chat .chat-container .chat-messages .chat-main li.admin .user-role,
#chat .chat-container .chat-messages .chat-main li.admin .username,
#main_avatar_room #main-user-list-room #avatar-list li.admin .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.admin .username
{
    color: #ff7e00;
}

#chat .chat-container .chat-messages .chat-main li.user-55ffae6a1564a403003f5132 .user-role,
#chat .chat-container .chat-messages .chat-main li.user-55ffae6a1564a403003f5132 .username,
#main_avatar_room #main-user-list-room #avatar-list li.userid-55ffae6a1564a403003f5132 .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.userid-55ffae6a1564a403003f5132 .username
{
    color: #7f1383;
}

#chat .chat-container .chat-messages .chat-main li.currentDJ .user-role,
#chat .chat-container .chat-messages .chat-main li.currentDJ .username,
#main_avatar_room #main-user-list-room #avatar-list li.currentDJ .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.currentDJ .username 
{
    
}

#chat .chat-container .chat-messages .chat-main li.user-psychicmatrix22 .user-role,
#chat .chat-container .chat-messages .chat-main li.user-psychicmatrix22.username,
#main_avatar_room #main-user-list-room #avatar-list li.user-psychicmatrix22 .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.user-psychicmatrix22 .username 
{
   
}


.admin .username:after
{
    display: none;
}

/* badges */
.creator span.user-role-icon {
    background-image: url(https://nightbloo.github.io/plug/icons/hostpink.png);
    display: inline-block !important;
}

.co-owner span.user-role-icon {
    background-image: url(https://nightbloo.github.io/plug/icons/hostpink.png);
    display: inline-block !important;
}

.manager span.user-role-icon {
    background-image: url(https://nightbloo.github.io/plug/icons/manager.png);
    display: inline-block !important;
}

.mod span.user-role-icon {
    background-image: url(https://nightbloo.github.io/plug/icons/bouncer.png);
    display: inline-block !important;
}

.vip span.user-role-icon {
    background-image: url(https://nightbloo.github.io/plug/icons/vip.png);
    display: inline-block !important;
}

.resident-dj span.user-role-icon {
    background-image: url(https://nightbloo.github.io/plug/icons/rdj.png);
    display: inline-block !important;
}

#chat .chat-main .user-56005297239f1303009c88c5 .username {
    color: #4dc9ff !important;
}
