#player-controller .left ul li.infoContainer .infoContainerInner,
#header-global {
   background: linear-gradient(to right, black, black, #127fae, black, black);
}

.icon-menu:before, 
.icon-chevron:before,
#header-global .header-right-navigation .user-info,
#header-global .header-right-navigation .user-messages,
#player-controller .left ul li.infoContainer .infoContainerInner span,
#header-global {
    color: white;
}

#player-controller .right ul li .add-to-playlist-button:hover, 
#player-controller .right ul li .add-to-playlist-button:hover span, 
#player-controller .right ul li .dubdown:hover, 
#player-controller .right ul li .dubdown:hover span, 
#player-controller .right ul li .dubup:hover, 
#player-controller .right ul li .dubup:hover span {
    color: black;
}

#player-controller .right ul li .add-to-playlist-button.grabbed, 
#player-controller .right ul li .add-to-playlist-button.voted, 
#player-controller .right ul li .dubdown.grabbed, 
#player-controller .right ul li .dubdown.voted {
    background: red;
}

#player-controller .right {
    background: white;
}

#header-global .header-left-navigation a {
    color: white;
}
