#main_player,
#main_player .player_header span,
#main_player .play-song-link-container .play-song-link, 
#main_player .play-song-link-container .play-song-link-browser,
#main_player .player_header span.active {
    background: rgba(255,255,255,.7);
}

#main_player .placeholder h5,
#main_player .placeholder h5 .icon-play,
#main_player .player_sharing span,
#main_player .play-song-link-container .play-song-link-browser i, 
#main_player .play-song-link-container .play-song-link i,
#main_player .play-song-link-container .play-song-link, 
#main_player .play-song-link-container .play-song-link-browser,
#main_player .player_header span
 {
    color: rgb(18, 127, 174); 
}

#main_player .player_header span.active,
#main_player .player_header span:hover{
    color:white;
    border-color: rgb(18, 127, 174);
    background: rgb(18, 127, 174);
}

#room-info-display .room-info-display-wrapper .header span i {
    color: orange;
}

